@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-serif {
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    .font-sans {
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    .font-sketch {
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-style: italic;
    }

    .sketch-border {
        border: 2px solid #000000;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}